{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{%include "partials/_header.html.twig" %}
<div class="container ">
    <div class="d-flex justify-content-center">
        <h1>Panier</h1>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for element in data %}
            <tr>
            <td>{{element.article.libellecourt}}</td>
            <td>{{element.article.prixHT}} €</td>
            <td>{{element.quantity}} </td>
            <td>{{element.quantity * element.article.prixHT}} €</td>
            <td>
                <a href="{{ path('panier_ajouter', {id: element.article.id})}}" class="btn btn-success">+</a>
                <a href="{{ path('panier_retirer', {id: element.article.id})}}" class="btn btn-warning">-</a>
                <a href="{{ path('panier_supprimer', {id: element.article.id})}}" class="btn btn-danger">Supprimer</a>
            </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="5">Votre panier et vide</td>
                </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td>{{ total }} €</td>
                <td>
                <a href="{{ path('panier_vider')}}" class="btn btn-danger">Vider</a></td>
            </tr>
        </tfoot>
        </table>
        <a href="{{ path('app_commande_ajout')}}" class="btn btn-primary">Valider le panier</a>
        </div>
    </div>
</div>
{%include "partials/_footer.html.twig" %}
{% endblock %}