{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{%include "partials/_header.html.twig" %}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    
        {{ form_row(form.nom)}}
        
        {{ form_row(form.prenom)}}
        {{ form_row(form.adresse)}}
        {{ form_row(form.codepostal)}}
        {{ form_row(form.pays)}}
        {{ form_row(form.ville)}}
        {{ form_row(form.telephone)}}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn">Inscription</button>
    {{ form_end(form) }}
</div>
{%include "partials/_footer.html.twig" %}
{% endblock %}